### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
num_players = len(purchase_data_df["SN"].value_counts())

Player_count = pd.DataFrame({
                            "Total Players":[num_players]
})

Player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
number_of_items = purchase_data_df['Item Name'].nunique()
average_price = purchase_data_df['Price'].mean()
total_purchases = purchase_data_df['Purchase ID'].count()
total_revenue = average_price * total_purchases

 # Purchasing Analysis Summary Df
summary_df = pd.DataFrame({
    "Number of Unique Items":[number_of_items],
    "Average Price":[average_price],
    "Total Purchases":[total_purchases],
    "Total Revenue":[total_revenue]
})

summary_df
#need to use below code to format avg price, total revenue
#Gender_purchases_summary_df["Average Purchase Price"] = Gender_purchases_summary_df["Average Purchase Price"].map("${:.2f}".format)
#unique_items = purchase_data_df["Item ID"].unique()

   Number of Unique Items  Average Price  Total Purchases  Total Revenue
0                     179       3.050987              780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#calculate count & percent by gender
gender_count=purchase_data_df['Gender'].value_counts()
gender_percent= (purchase_data_df['Gender']).value_counts()/(purchase_data_df['SN'].count())

# Convert to data frame
gender_count_df=pd.DataFrame(gender_count)
gender_count_df['Percentage of Players']=gender_percent
#can we rename gender column to total count
#Format to Percent
gender_count_df.style.format({'Percentage of Players': "{:.2%}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Calculate purchases by gender
gender_purchases_df=purchase_data_df.groupby('Gender')
player_count=gender_purchases_df['Gender'].count()

#calculate average price per gender
avg_price_gender=gender_purchases_df['Price'].mean()

#calculate total purchase value per gender
gender_purchase_sum=gender_purchases_df['Price'].sum()

#Calculate average purchase total per person by gender
average_price_by_user_by_gender=gender_purchase_sum/player_count

#Combine calculations into DF
Gender_purchases_summary_df=pd.DataFrame(player_count)
Gender_purchases_summary_df['Average Purchase Price'] = avg_price_gender
Gender_purchases_summary_df['Total Purchase value'] = gender_purchase_sum
Gender_purchases_summary_df['Avg Total Purchase per Person'] = average_price_by_user_by_gender


Gender_purchases_summary_df["Avg Total Purchase per Person"] = Gender_purchases_summary_df["Avg Total Purchase per Person"].map("${:.2f}".format)
Gender_purchases_summary_df["Total Purchase value"] = Gender_purchases_summary_df["Total Purchase value"].map("${:.2f}".format)
Gender_purchases_summary_df["Average Purchase Price"] = Gender_purchases_summary_df["Average Purchase Price"].map("${:.2f}".format)


Gender_purchases_summary_df

,Gender,Average Purchase Price,Total Purchase value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,$1967.64,$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

TypeError: cannot concatenate object of type '<class 'numpy.int32'>'; only Series and DataFrame objs are valid

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
PDG_DF = purchase_data_gender_df[["SN", "Price"]]
PDG_DF_group = PDG_DF.groupby(["SN"])
Top_Spender = purchase_data_df["SN"].value_counts()
top_Spender_List = PDG_DF_group["Price"].sum()
Average_Spender = Big_Spender_List / Big_Spender
Big_Spender_DF = pd.DataFrame({"Purchase Count": Big_Spender, "Average Purchase Price": Average_Spender, "Total Purchase Value": Big_Spender_List})
Big_Spender_DF["Average Purchase Price"] = Big_Spender_DF["Average Purchase Price"].map("${:.2f}".format)
# Code did not work "Big_Spender_DF["Total Purchase Value"] = Big_Spender_DF["Total Purchase Value"].map("${:.2f}".format)"
Biggest_Spender = Big_Spender_DF.sort_values(["Total Purchase Value"], ascending=False)
Biggest_Spender.reset_index(inplace=True)
Biggest_Spender.head(5)

NameError: name 'purchase_data_gender_df' is not defined

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
Most_Popular_item = purchase_data_df.loc[:, ["Item ID", "Item Name", "Price"]]
Most_Popular_df = Most_Popular.groupby(['Item ID'])
MP_df_Price = Most_Popular_df["Price"].value_counts()
Most_Pop = Most_Popular_df["Item Name"].value_counts()
MPG_Price = purchase_data_df.groupby(["Item ID", "Item Name"]).mean()["Price"]
Total_Purchase = MPG_Price * Most_Pop
Most_Popular_Item = pd.DataFrame({"Purchase Count": Most_Pop, "Item Price": MPG_Price, "Total Purchase Value": Total_Purchase})
Most_Popular_Item["Total Purchase Value"] = Most_Popular_Item["Total Purchase Value"].map("${:.2f}".format)
Most_Popular_Item["Item Price"] = Most_Popular_Item["Item Price"].map("${:.2f}".format)
MostPopularDF = Most_Popular_Item.sort_values(["Purchase Count"], ascending=False)
MostPopularDF

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
Most_Profit_Item = pd.DataFrame({"Purchase Count": Most_Pop, "Item Price": MPG_Price, "Total Purchase Value": Total_Purchase})
Most_Profit_Item["Item Price"] = Most_Profit_Item["Item Price"].map("${:.2f}".format)
MostProfitDF = Most_Profit_Item.sort_values(["Total Purchase Value"], ascending=False)
MostProfitDF.head()